.titulo{
color: rgb(0, 0, 0);
text-align: center;
font-size: 55px;
font-family: Verdana;
}
.tipos{
text-align: left;
font-size: 25px;
font-family: Verdana;
}
nav{
font-size: 15px;
font-family: Verdana;
text-align: center;
}
.adicional{
text-align: left;
font-size: 25px;
font-family: Verdana;
cursor: url(img/cursor.png), auto;
}
body{
background-color: rgb(234, 229, 225);
cursor: url(cursor.cur), auto;
}
footer{
background-color: #8a949c;
color: #fff;
bottom: 0;
    padding: 20px;
a {
color: #f8f9f9;
}
text-align: center;
}
.oblique{
    font-style: oblique; 
}
.big{
    font-size: x-large;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d9b96deb;
  font-family: Verdana;
}
.menu2{
  float: left;
}
.menu2 a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 1000px;
}
.menu2 a:hover:not(.active) {
  background-color: #e9e7d6;
}
.active {
  background-color: #5f3f1ec5;
}
#centro{
  float: right;
}


